@charset "utf-8";
/* CSS Document */
@media screen and (max-width:550px){
	.logo img{
		width:100px;
		padding-top: 11px;
	}
	.sec2{
		flex-direction: column;
		display:flex;
	}
	.sec2 img{ 
			padding-left: 0px;
			width: 100%;
			height: 100%;
	}
	.alarm p{
		padding: 50px 0px 0px 46px;
    font-size: 20px;
    width: 80%;
	}
	.pulse p{padding: 10% 0px 0px 45px;
    font-size: 14px;
    color: grey;
	}
	
	.sec3{
		display: flex;
		flex-direction:column; 
	}
	
	.boat h4{
		padding: 20px 0px 0px 25%;
	}
	.boat p{
		padding: 10% 0px 0px 40%;
}
	.circlepsp{
		flex-direction: column;
		flex-wrap:wrap; 
	}
	.circle{
		max-width: 70%;
	}
	.circleP{
		max-width: 100%;
        flex: 100%;
        align-items: center;
        margin-right: 0%;
	}
	.button3{
		padding: 5px 5px 5px 5px;
		box-shadow: 0px 0px 7px gray;
	}
	.circle{
		padding: 15px 15px;
    gap: 0%;
    margin: 10px 0px;
		box-shadow: 0px 1px 0px 1px gray;
	}
	.sec4{
		height: 40vh;
	}
	.zebro{
		padding: 0px;
    font-size: 10px;
	}
	.hand{
		font-size: 17px;
	}
	.always img{
		width: 50%
	}
	.zebra{
		padding: 25px 0px;
        flex-direction: column;
        width: 70%;
		gap:0px;
		margin-left:15%;
	}
	.button4{
		padding: 10px 10px 10px 10px;
	}
	.leader{
		font-size: 20px!important;
	}
	.curve img{
		height: 93%;
		width: 100%;
	}
	.xppen h6{
		font-size: 20px;
    padding: 12px 0px;
	}
	.xppen p{
		font-size: 15px;
    padding: 5px 0px;
	}
	.zebronics{
		align-items: center;
		flex-direction: column;
		max-width: 80%;
		flex: 80%;
	}
	.user-image-s-1{
		width: 40px;
    height: 40px;
	}
	.user-image-s img{
		width: 50px;
	}
	.a h4{
		font-size: 15px;
    padding-top: 10px;
	}
	.user-image-s h6{
		padding-top: 10px;
    font-size: 12px;
}
	.user-image-s p{
		padding-top: 5px;
		font-size: 12px;
	}
	.sec5{
		flex-direction: column;
		align-items: center;
	}
	.arc{
		flex-direction: column-reverse;
		flex: 100%;
	}
	.xppen{
		max-width: 100%;
    flex: 100%;
    text-align: center;
	}
	.curve{
		flex: 100%;
    max-width: 100%;
	}
	.zebronics_if{
		align-items: center;
		flex-direction: column;
		max-width: 80%;
		flex: 80%;
	}
	.arc_f{
		flex-direction: column;
		flex: 100%;
	}
	.sung{
		padding-top: 85%;
    text-align: center;
	}
	.sung p{
		padding-top: 25%;
	}
	.sec8{
		flex-direction: column;
	}
	.d{
		transform: translate(25%, 19%)
	}
	.f{
		transform:  translate(25%, 19%)
	}
	.h{
		transform:  translate(25%, 19%)
	}
	.j{
		transform:  translate(25%, 19%)
	}
	.l{
		transform:  translate(25%, 19%)
	}
	.instagram-insta-img-1{
		width: 100%;
	}
	.instagram-insta-img-2{
		width: 100%;
	}
	.instagram-insta-img-3{
		width: 100%;
	}
	.instagram-insta-img-4{
		width: 100%;
	}
	.instagram-insta-img-5{
		width: 100%;
	}
	
	
	.potential{
		flex-direction: column;
		
	}
	.footer{
		flex:100%;
		max-width :100%;
	}
	.footer h5{
		font-size: 25px;
	}
	.footer p{
		font-size: 20px;
	}
	.steel{
		flex: 100%;
		max-width: 100%;
	}
	.steel h5{
		padding-top: 20px;
		font-size: 25px;
	}
	.steel li{
		font-size: 20px;
	}
	.ijack{
		flex :100%;
		max-width: 100%;
	}
	.ijack h5{
		padding-top: 20px;
		font-size: 25px;
	}
	.ijack p{
		font-size: 20px;
	}
	.newsletter{
		flex:100%;
		max-width: 100%;
	}
	.newsletter h5{
		font-size: 25px;
		padding-top: 20px;
	}
	.newsletter p{
		font-size: 20px;
	}
	.box{
		flex-direction: column;
	}
	.fire{
		max-width: 100%;
		flex:100%;
	}
	.form-control{
		width: 100%;
	}
	input{
		margin-bottom: 15px;
	}
	.button_holder {
    margin: 80px 0px 0px 127px;
    padding-left: 0%;
	}
	.chill h1{
		font-size: 25px;
    line-height: 34px;
		padding-top: 0%;
	}
	.ham{
		display: block !important;
	}
	.side_bar{ width: 100%;}
	.nav_link{ display: none;}
	.mobile_link{display: flex !important;}
}

 @media screen and (min-width:550px) and (max-width:850px) {
     .ham{
		display: block !important;
	}
	.side_bar{ width: 100%;}
	.nav_link{ display: none;}
	.mobile_link{display: flex !important;}
	 .logo img{
		 width: 100%;
		 padding-top: 10px;
	 }
	 .chill h1{
		 font-size: 25px;
    line-height: 34px;
		 padding-top: 0%;
	 }
	 .button_holder{
		 padding-left: 14%;
	 }
	 .box{
		flex-direction: column;
	}
	 .fire{
		max-width: 80%;
		flex:80%;
	}
	.form-control{
		width: 100%;
	}
	input{
		margin-bottom: 15px;
	}
	 .sec2{
		 flex-direction: column;
	 }
	 .sec2 img{
		 width: 90%;
		 padding-left: 10%;
	 }
	 .pulse p {
    padding: 10% 0px 0px 55px
	 }
	 .pulse h2 {
    padding: 15px 0px 0px 52px;
		 font-size: 25px;
	 }
	 .alarm p{
		 padding: 10px 0px 0px 54px !important;
		 font-size: 14px;
	 }
	 .circlepsp{
		flex-direction: column;
		flex-wrap:wrap; 
	}
	.circle{
		max-width: 70%;
	}
	.circleP{
		max-width: 100%;
        flex: 100%;
        align-items: center;
        margin-right: 0%;
	}
	.button3{
		padding: 5px 5px 5px 5px;
		box-shadow: 0px 0px 7px gray;
	}
	.circle{
		padding: 15px 15px;
    gap: 0%;
    margin: 10px 0px;
		box-shadow: 0px 1px 0px 1px gray;
	}
	 .sec4{
		height: 40vh;
	}
	.zebro{
		padding: 0px;
    font-size: 10px;
	}
	.hand{
		font-size: 17px;
	}
	.always img{
		width: 50%
	}
	.zebra{
		padding: 25px 0px;
        flex-direction: column;
        width: 70%;
		gap:0px;
		margin-left:15%;
	}
	.button4{
		padding: 10px 10px 10px 10px;
	}
	.leader{
		font-size: 20px!important;
	}
	.curve img{
		height: 93%;
		width: 100%;
	}
	.xppen h6{
		font-size: 20px;
    padding: 12px 0px;
	}
	.xppen p{
		font-size: 15px;
    padding: 5px 0px;
	}
	.zebronics{
		align-items: center;
		flex-direction: column;
		max-width: 80%;
		flex: 80%;
	}
	.user-image-s-1{
		width: 40px;
    height: 40px;
	}
	.user-image-s img{
		width: 50px;
	}
	.a h4{
		font-size: 15px;
    padding-top: 10px;
	}
	.user-image-s h6{
		padding-top: 10px;
    font-size: 12px;
}
	.user-image-s p{
		padding-top: 5px;
		font-size: 12px;
	}
	 .sung{
		padding-top: 65%;
    text-align: center;
	}
	.sung p{
		padding-top: 0%;
	}
	 .sec4{
		height: 40vh;
	}
	.zebro{
		padding: 0px;
    font-size: 10px;
	}
	.hand{
		font-size: 17px;
	}
	.always img{
		width: 50%
	}
	.zebra{
		padding: 25px 0px;
        flex-direction: column;
        width: 70%;
		gap:0px;
		margin-left:15%;
	}
	.button4{
		padding: 10px 10px 10px 10px;
	}
	.leader{
		font-size: 20px!important;
	}
	.curve img{
		height: 93%;
		width: 100%;
	}
	.xppen h6{
		font-size: 20px;
    padding: 12px 0px;
	}
	.xppen p{
		font-size: 15px;
    padding: 5px 0px;
	}
	.zebronics{
		align-items: center;
		flex-direction: column;
		max-width: 80%;
		flex: 80%;
	}
	 .user-image-s h6{
		padding-top: 10px;
    font-size: 12px;
}
	.user-image-s p{
		padding-top: 5px;
		font-size: 12px;
	}
	.sec5{
		flex-direction: column;
		align-items: center;
	}
	.arc{
		flex-direction: column-reverse;
		flex: 100%;
	}
	.xppen{
		max-width: 100%;
    flex: 100%;
    text-align: center;
	}
	.curve{
		flex: 100%;
    max-width: 100%;
	}
	.zebronics_if{
		align-items: center;
		flex-direction: column;
		max-width: 80%;
		flex: 80%;
	}
	.arc_f{
		flex-direction: column;
		flex: 100%;
	}
	.sung{
		padding-top: 85%;
    text-align: center;
	}
	
}
